/* Therapies.css */
.therapies-container {
    padding: 20px; /* Add padding for better spacing */
}

.table-container {
    width: 100%;
    overflow-x: auto; /* Allow horizontal scrolling on small screens */
}

.list-headers {
    margin-bottom: 10px; /* Add some margin below the header */
    text-align: center; /* Center-align the header */
}

.create-button-v1,
.load-button-v1 {
    display: inline-block; /* Display buttons inline */
    margin: 10px; /* Add some margin around the buttons */
    padding: 10px 20px; /* Add padding to the buttons */
    cursor: pointer; /* Add pointer cursor */
    border-radius: 5px; /* Add border radius */
    background-color: #007bff; /* Set button background color */
    color: white; /* Set button text color */
    border: none; /* Remove button border */
}

.my-table {
    width: 100%;
    border-collapse: collapse; /* Collapse table borders */
}

.my-table th,
.my-table td {
    padding: 8px; /* Add padding to table cells */
    text-align: left; /* Left-align table data */
}

.table-buttons {
    margin-left: 5px; /* Add some margin between buttons */
}

.table-buttons-blue {
    background-color: #007bff; /* Set button background color */
    color: white; /* Set button text color */
    border: none; /* Remove button border */
    padding: 5px; /* Add padding to button */
    border-radius: 5px; /* Add border radius */
    cursor: pointer; /* Add pointer cursor */
    margin-right: 5px; /* Add some margin to the right of the button */
}

.table-buttons-red {
    background-color: red; /* Set button background color */
    color: white; /* Set button text color */
    border: none; /* Remove button border */
    padding: 5px; /* Add padding to button */
    border-radius: 5px; /* Add border radius */
    cursor: pointer; /* Add pointer cursor */
    margin-right: 5px; /* Add some margin to the right of the button */
}

.load-button-v1 {
    display: block; /* Display the button as block-level element */
    margin: 20px auto; /* Center the button horizontally with some margin */
    padding: 10px 20px; /* Add padding to the button */
    cursor: pointer; /* Add pointer cursor */
    border-radius: 5px; /* Add border radius */
    background-color: #007bff; /* Set button background color */
    color: white; /* Set button text color */
    border: none; /* Remove button border */
}
