.therapy-page {
    padding: 20px;
    position: relative; /* Ensure relative positioning for absolute child elements */
  }
  
  .therapy-details {
    text-align: center;
  }
  
  .therapy-image {
    display: block;
    margin: 20px auto;
    max-width: 100%;
  }
  
  .back-button {
    position: absolute;
    top: 60px; /* Adjust the top position */
    left: 10px; /* Adjust the left position */
  }
  
  .appointments-button {
    margin-top: 20px;
  }

  /* TherapiesPage.css */
.therapies-page {
    padding: 20px; /* Add some padding for better spacing */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the content horizontally */
}

  